html,body {
    height: 100%;
}
body {
    display: table;
    background-color: white;
    font-family: 'Apple SD Gothic Neo';
    margin: 0 auto;
    text-align: center;
}
.startcontainer {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
img.menuselect {
    padding: 1px; margin: 0px;
    width: 200px;
    margin: 25px;
}
#home_menu {
    text-align: center;
}
p {
    text-align: center;
    font: normal normal bold 55px/82px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #BEBBFF;
    opacity: 1;
}
.greybutton {
    display: inline-block;
    vertical-align: center;
    height: 230px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
    padding: 1px; margin: 0px;
    width: 200px;
    margin: 25px;
    transition: 0.1s ease-in-out;
}
.greybutton:hover {
    background: #e7e7ff;
}
.rectangle {
    top: 52px;
    position: relative;
    display: inline-block;
    width: 110px;
    height: 70px;
    background: #D6D6D5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.square {
    margin-top: -15px;
    top: 60px;
    position: relative;
    display: inline-block;
    height: 85px;
    width: 85px;
    background: #D6D6D5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.trapezoid {
    top: 52px;
    position: relative;
    display: inline-block;
    border-bottom: 70px solid #D6D6D5 ;
    border-left: 45px solid transparent;
    width: 80px;
    opacity: 1;
}
.triangle {
    margin-top: -10px;
    top: 52px;
    position: relative;
    display: inline-block;
    border-bottom: 80px solid #D6D6D5 ;
    border-left: 120px solid transparent;
    width: 0px;
    opacity: 1;
}
.text{
    top: 75px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font: normal normal bold 20px/41px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #707071;
    opacity: 1;
}